html
   head
      title Dr #{doctor.name}
      style
        include stylesheets/doctor.css
   body
      a(class='button' href='/') Home
      h2=`Dr ${doctor.name}`
      img(src=doctor.pic)
      div=`Location: ${doctor.location}`
      div=`Specialty: ${doctor.specialty}`
      h4 Similar Doctors
      ul
        unless doctors.length > 0
          li='no similar doctors found'
        else
          - for (let j = 0; j < doctors.length; j++)
              li=`Dr ${doctors[j].name}`
    
